.hero {
  position: relative;
  padding: 96px 30px 138px;
  background: url(https://bitcoin.org/img/hero/hero-bg.svg?1528322191) bottom
    no-repeat;
  background-size: cover;
  z-index: 10;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}

.bd {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border: solid #f7f7f9;
  max-inline-size: 90vw;
}

.texts {
  justify-content: space-evenly;
}
